@{
    ViewBag.Title = "index";
}
@using Resources

<h2>Temporary start page</h2>
<p>@Html.ActionLink(Text.LogOnAsResearcher, "Index", "Researcher")</p>
<p>@Html.ActionLink(Text.LogOnAsClient, "Index", "Client")</p>